/* (A) ENTIRE PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  font-family: "DB Gin Siam X";
  background-color: #2E1371;
  padding-top: 100px;
  color: #fff;
  padding-bottom: 60px;
}

/*navbar*/
.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #130B2B;
  padding: 10px 0;
  height: 100px;
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav-logo {
  width: 80px;
  float: left;
}

.nav-logo a {
  display: block;
}

img.img-logo {
  height: 60px;
  margin-top: 5px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.nav-menu {
  float: left;
}

ul.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 35px;
}

nav ul {
  flex: 1;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.625rem 0.938rem;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  font-size: 16px;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  transform: translate(-100%);
  background-color: #d2aa5a;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
  transform: translate(0%);
  left: 0%;
}

nav ul li a:hover {
  color: #d2aa5a;
}

.nav-right {
  float: right;
  margin-top: 45px;
}

.navr-list {
  display: flex;
}

.navrl-lang {
  float: left;
  margin-right: 15px;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
}

.btn-lang {
  border: 1px solid #fff;
  border-radius: 3px;
  background: transparent;
  padding: 0px 7px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.navrl-line {
  float: left;
  margin-right: 15px;
  height: 26px;
  width: 1px;
  background: rgba(255, 255, 255, 0.4);
}

.navrl-profile {
  float: left;
  margin-right: 10px;
}

.btn-profile {
  display: inline-block;
  margin-top: -10px;
}

img.icon-profile {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
}

/*สิ้นสุด navbar*/

.box {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* (B) SEATS LAYOUT */
#layout {
  max-width: 450px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  margin-bottom: 30px;
}

.seat {
  background-color: #d90f34;
  height: 34px;
  width: 40px;
  margin: 3px;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#layout .seat {
  cursor: pointer;
}

.taken {
  color: #a9a9a9;
  background: #f1f1f1 !important;
}

.selected {
  background: #ffe319 !important;
}

/* (C) LEGEND */
#legend {
  display: grid;
  grid-template-columns: 100px 200px;
  margin-bottom: 30px;
}

#legend div {
  padding: 10px;
}

.reservations_details {
  font-size: 16px;
  display: flex;
  margin: 5px 0;
}