* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    font-family: "DB Gin Siam X";
    background-color: #fff;
    padding-top: 100px;
    color: rgb(0, 0, 0);
    padding-bottom: 60px;
}

/*navbar*/
.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #130B2B;
    padding: 10px 10px;
    height: 100px;
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-logo {
    width: 80px;
    float: left;
}

.nav-logo a {
    display: block;
}

img.img-logo {
    height: 60px;
    margin-top: 5px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.nav-menu {
    float: left;
}

ul.menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 35px;
}

nav ul {
    flex: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.625rem 0.938rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    transform: translate(-100%);
    background-color: #d2aa5a;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    transform: translate(0%);
    left: 0%;
}

nav ul li a:hover {
    color: #d2aa5a;
}

.nav-right {
    float: right;
    margin-top: 45px;
}

.navr-list {
    display: flex;
}

.navrl-lang {
    float: left;
    margin-right: 15px;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
}

.btn-lang {
    border: 1px solid #fff;
    border-radius: 3px;
    background: transparent;
    padding: 0px 7px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.navrl-line {
    float: left;
    margin-right: 15px;
    height: 28px;
    width: 1px;
    background: rgba(255, 255, 255, 0.4);
}

.navrl-profile {
    float: left;
    margin-right: 10px;
}

.btn-profile {
    display: inline-block;
    margin-top: -10px;
}

img.icon-profile {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
}

/*สิ้นสุด navbar*/

.profile-box {
    width: 600px;
    height: 90%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid rgba(189, 183, 183, 0.5);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
}

.profile-row {
    display: flex;
    margin: 40px 70px;
}

.profile-col {
    float: left;
    margin: 0;
    width: 500px;
}

.profile-col2 {
    float: right;
    margin: 0;
    width: 500px;
    padding: 0 70px;
}

.profile-title {
    display: flex;
    margin-bottom: 30px;
}

.photo {
    width: 150px;
    height: 150px;
}

.box-profile-name-editB {
    margin-left: 50px;
    padding: 40px 0;
}

.topic {
    font-size: 17px;
    margin: 5px 0;
}

.detail {
    font-size: 18px;
}

.menu-box {
    width: 700px;
    height: 90%;
    margin: 1.2rem;
    border-radius: 10px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid rgba(189, 183, 183, 0.5);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
}

.menu-p {
    margin: 0;
    text-align: center;
}

.menu li a {
    color: #6b6b6b;
    text-decoration: none;
    position: relative;
    font-size: 16px;
}

.menu li a:hover {
    color: #000000;
    font-size: 17px;
}